<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    
    <h2>Profile Page</h2>
    <a style='float: right;' class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    <hr />
    <h4> Would you like to make changes to your account? If so, please do below. </h4>
    <form method="POST" action="{{ url_for('profile') }}">
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId" placeholder="First Name">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="helpId" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="helpId" placeholder="Confirm Password">
        </div>
        <input type="submit" class="btn btn-success btn-block" value="Make Changes" />
       
    </form>
    <p> Want to delete your account? Please type your first name to confirm</p>
    </p>

    <form method="DELETE" action="{{url_for('register')}}">
        <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId" placeholder="First Name">
        <input type='submit' class = 'btn' value = 'Delete Account' />
    </form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>    
</body>
</html>